// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow-left';
$arrow-left-x: 431px;
$arrow-left-y: 147px;
$arrow-left-offset-x: -431px;
$arrow-left-offset-y: -147px;
$arrow-left-width: 51px;
$arrow-left-height: 41px;
$arrow-left-total-width: 546px;
$arrow-left-total-height: 497px;
$arrow-left-image: '/assets/template/css/sprites/sprite.png';
$arrow-left: (431px, 147px, -431px, -147px, 51px, 41px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 302px;
$arrow-right-y: 143px;
$arrow-right-offset-x: -302px;
$arrow-right-offset-y: -143px;
$arrow-right-width: 51px;
$arrow-right-height: 41px;
$arrow-right-total-width: 546px;
$arrow-right-total-height: 497px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (302px, 143px, -302px, -143px, 51px, 41px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$contacts-address-name: 'contacts-address';
$contacts-address-x: 448px;
$contacts-address-y: 310px;
$contacts-address-offset-x: -448px;
$contacts-address-offset-y: -310px;
$contacts-address-width: 18px;
$contacts-address-height: 24px;
$contacts-address-total-width: 546px;
$contacts-address-total-height: 497px;
$contacts-address-image: '/assets/template/css/sprites/sprite.png';
$contacts-address: (448px, 310px, -448px, -310px, 18px, 24px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'contacts-address', );
$contacts-mail-name: 'contacts-mail';
$contacts-mail-x: 326px;
$contacts-mail-y: 236px;
$contacts-mail-offset-x: -326px;
$contacts-mail-offset-y: -236px;
$contacts-mail-width: 24px;
$contacts-mail-height: 23px;
$contacts-mail-total-width: 546px;
$contacts-mail-total-height: 497px;
$contacts-mail-image: '/assets/template/css/sprites/sprite.png';
$contacts-mail: (326px, 236px, -326px, -236px, 24px, 23px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'contacts-mail', );
$contacts-phone-name: 'contacts-phone';
$contacts-phone-x: 302px;
$contacts-phone-y: 236px;
$contacts-phone-offset-x: -302px;
$contacts-phone-offset-y: -236px;
$contacts-phone-width: 24px;
$contacts-phone-height: 24px;
$contacts-phone-total-width: 546px;
$contacts-phone-total-height: 497px;
$contacts-phone-image: '/assets/template/css/sprites/sprite.png';
$contacts-phone: (302px, 236px, -302px, -236px, 24px, 24px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'contacts-phone', );
$crumb-separator-name: 'crumb-separator';
$crumb-separator-x: 482px;
$crumb-separator-y: 147px;
$crumb-separator-offset-x: -482px;
$crumb-separator-offset-y: -147px;
$crumb-separator-width: 8px;
$crumb-separator-height: 11px;
$crumb-separator-total-width: 546px;
$crumb-separator-total-height: 497px;
$crumb-separator-image: '/assets/template/css/sprites/sprite.png';
$crumb-separator: (482px, 147px, -482px, -147px, 8px, 11px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'crumb-separator', );
$gear-big-name: 'gear-big';
$gear-big-x: 448px;
$gear-big-y: 288px;
$gear-big-offset-x: -448px;
$gear-big-offset-y: -288px;
$gear-big-width: 22px;
$gear-big-height: 22px;
$gear-big-total-width: 546px;
$gear-big-total-height: 497px;
$gear-big-image: '/assets/template/css/sprites/sprite.png';
$gear-big: (448px, 288px, -448px, -288px, 22px, 22px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'gear-big', );
$gear-middle-name: 'gear-middle';
$gear-middle-x: 451px;
$gear-middle-y: 399px;
$gear-middle-offset-x: -451px;
$gear-middle-offset-y: -399px;
$gear-middle-width: 14px;
$gear-middle-height: 14px;
$gear-middle-total-width: 546px;
$gear-middle-total-height: 497px;
$gear-middle-image: '/assets/template/css/sprites/sprite.png';
$gear-middle: (451px, 399px, -451px, -399px, 14px, 14px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'gear-middle', );
$gear-small-name: 'gear-small';
$gear-small-x: 479px;
$gear-small-y: 225px;
$gear-small-offset-x: -479px;
$gear-small-offset-y: -225px;
$gear-small-width: 9px;
$gear-small-height: 9px;
$gear-small-total-width: 546px;
$gear-small-total-height: 497px;
$gear-small-image: '/assets/template/css/sprites/sprite.png';
$gear-small: (479px, 225px, -479px, -225px, 9px, 9px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'gear-small', );
$icon-cart-red-name: 'icon-cart-red';
$icon-cart-red-x: 448px;
$icon-cart-red-y: 334px;
$icon-cart-red-offset-x: -448px;
$icon-cart-red-offset-y: -334px;
$icon-cart-red-width: 20px;
$icon-cart-red-height: 19px;
$icon-cart-red-total-width: 546px;
$icon-cart-red-total-height: 497px;
$icon-cart-red-image: '/assets/template/css/sprites/sprite.png';
$icon-cart-red: (448px, 334px, -448px, -334px, 20px, 19px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-cart-red', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 466px;
$icon-cart-y: 310px;
$icon-cart-offset-x: -466px;
$icon-cart-offset-y: -310px;
$icon-cart-width: 20px;
$icon-cart-height: 19px;
$icon-cart-total-width: 546px;
$icon-cart-total-height: 497px;
$icon-cart-image: '/assets/template/css/sprites/sprite.png';
$icon-cart: (466px, 310px, -466px, -310px, 20px, 19px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-cart', );
$icon-down-dark-name: 'icon-down-dark';
$icon-down-dark-x: 504px;
$icon-down-dark-y: 422px;
$icon-down-dark-offset-x: -504px;
$icon-down-dark-offset-y: -422px;
$icon-down-dark-width: 11px;
$icon-down-dark-height: 6px;
$icon-down-dark-total-width: 546px;
$icon-down-dark-total-height: 497px;
$icon-down-dark-image: '/assets/template/css/sprites/sprite.png';
$icon-down-dark: (504px, 422px, -504px, -422px, 11px, 6px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-down-dark', );
$icon-down-name: 'icon-down';
$icon-down-x: 490px;
$icon-down-y: 422px;
$icon-down-offset-x: -490px;
$icon-down-offset-y: -422px;
$icon-down-width: 14px;
$icon-down-height: 8px;
$icon-down-total-width: 546px;
$icon-down-total-height: 497px;
$icon-down-image: '/assets/template/css/sprites/sprite.png';
$icon-down: (490px, 422px, -490px, -422px, 14px, 8px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-down', );
$icon-gear-name: 'icon-gear';
$icon-gear-x: 448px;
$icon-gear-y: 225px;
$icon-gear-offset-x: -448px;
$icon-gear-offset-y: -225px;
$icon-gear-width: 31px;
$icon-gear-height: 32px;
$icon-gear-total-width: 546px;
$icon-gear-total-height: 497px;
$icon-gear-image: '/assets/template/css/sprites/sprite.png';
$icon-gear: (448px, 225px, -448px, -225px, 31px, 32px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-gear', );
$icon-left-name: 'icon-left';
$icon-left-x: 482px;
$icon-left-y: 169px;
$icon-left-offset-x: -482px;
$icon-left-offset-y: -169px;
$icon-left-width: 6px;
$icon-left-height: 11px;
$icon-left-total-width: 546px;
$icon-left-total-height: 497px;
$icon-left-image: '/assets/template/css/sprites/sprite.png';
$icon-left: (482px, 169px, -482px, -169px, 6px, 11px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-left', );
$icon-marker-white-name: 'icon-marker-white';
$icon-marker-white-x: 478px;
$icon-marker-white-y: 257px;
$icon-marker-white-offset-x: -478px;
$icon-marker-white-offset-y: -257px;
$icon-marker-white-width: 12px;
$icon-marker-white-height: 16px;
$icon-marker-white-total-width: 546px;
$icon-marker-white-total-height: 497px;
$icon-marker-white-image: '/assets/template/css/sprites/sprite.png';
$icon-marker-white: (478px, 257px, -478px, -257px, 12px, 16px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-marker-white', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 234px;
$icon-marker-y: 435px;
$icon-marker-offset-x: -234px;
$icon-marker-offset-y: -435px;
$icon-marker-width: 12px;
$icon-marker-height: 16px;
$icon-marker-total-width: 546px;
$icon-marker-total-height: 497px;
$icon-marker-image: '/assets/template/css/sprites/sprite.png';
$icon-marker: (234px, 435px, -234px, -435px, 12px, 16px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-marker', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 325px;
$icon-phone-y: 184px;
$icon-phone-offset-x: -325px;
$icon-phone-offset-y: -184px;
$icon-phone-width: 24px;
$icon-phone-height: 24px;
$icon-phone-total-width: 546px;
$icon-phone-total-height: 497px;
$icon-phone-image: '/assets/template/css/sprites/sprite.png';
$icon-phone: (325px, 184px, -325px, -184px, 24px, 24px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-phone', );
$icon-right-name: 'icon-right';
$icon-right-x: 482px;
$icon-right-y: 158px;
$icon-right-offset-x: -482px;
$icon-right-offset-y: -158px;
$icon-right-width: 6px;
$icon-right-height: 11px;
$icon-right-total-width: 546px;
$icon-right-total-height: 497px;
$icon-right-image: '/assets/template/css/sprites/sprite.png';
$icon-right: (482px, 158px, -482px, -158px, 6px, 11px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-right', );
$icon-user-name: 'icon-user';
$icon-user-x: 468px;
$icon-user-y: 334px;
$icon-user-offset-x: -468px;
$icon-user-offset-y: -334px;
$icon-user-width: 18px;
$icon-user-height: 18px;
$icon-user-total-width: 546px;
$icon-user-total-height: 497px;
$icon-user-image: '/assets/template/css/sprites/sprite.png';
$icon-user: (468px, 334px, -468px, -334px, 18px, 18px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'icon-user', );
$lk-setting-name: 'lk-setting';
$lk-setting-x: 302px;
$lk-setting-y: 260px;
$lk-setting-offset-x: -302px;
$lk-setting-offset-y: -260px;
$lk-setting-width: 23px;
$lk-setting-height: 24px;
$lk-setting-total-width: 546px;
$lk-setting-total-height: 497px;
$lk-setting-image: '/assets/template/css/sprites/sprite.png';
$lk-setting: (302px, 260px, -302px, -260px, 23px, 24px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'lk-setting', );
$logo-hino-active-name: 'logo-hino-active';
$logo-hino-active-x: 0px;
$logo-hino-active-y: 143px;
$logo-hino-active-offset-x: 0px;
$logo-hino-active-offset-y: -143px;
$logo-hino-active-width: 151px;
$logo-hino-active-height: 145px;
$logo-hino-active-total-width: 546px;
$logo-hino-active-total-height: 497px;
$logo-hino-active-image: '/assets/template/css/sprites/sprite.png';
$logo-hino-active: (0px, 143px, 0px, -143px, 151px, 145px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'logo-hino-active', );
$logo-hino-name: 'logo-hino';
$logo-hino-x: 151px;
$logo-hino-y: 143px;
$logo-hino-offset-x: -151px;
$logo-hino-offset-y: -143px;
$logo-hino-width: 151px;
$logo-hino-height: 145px;
$logo-hino-total-width: 546px;
$logo-hino-total-height: 497px;
$logo-hino-image: '/assets/template/css/sprites/sprite.png';
$logo-hino: (151px, 143px, -151px, -143px, 151px, 145px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'logo-hino', );
$logo-isuzu-active-name: 'logo-isuzu-active';
$logo-isuzu-active-x: 0px;
$logo-isuzu-active-y: 0px;
$logo-isuzu-active-offset-x: 0px;
$logo-isuzu-active-offset-y: 0px;
$logo-isuzu-active-width: 177px;
$logo-isuzu-active-height: 143px;
$logo-isuzu-active-total-width: 546px;
$logo-isuzu-active-total-height: 497px;
$logo-isuzu-active-image: '/assets/template/css/sprites/sprite.png';
$logo-isuzu-active: (0px, 0px, 0px, 0px, 177px, 143px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'logo-isuzu-active', );
$logo-isuzu-name: 'logo-isuzu';
$logo-isuzu-x: 177px;
$logo-isuzu-y: 0px;
$logo-isuzu-offset-x: -177px;
$logo-isuzu-offset-y: 0px;
$logo-isuzu-width: 177px;
$logo-isuzu-height: 143px;
$logo-isuzu-total-width: 546px;
$logo-isuzu-total-height: 497px;
$logo-isuzu-image: '/assets/template/css/sprites/sprite.png';
$logo-isuzu: (177px, 0px, -177px, 0px, 177px, 143px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'logo-isuzu', );
$logo-mitsu-active-name: 'logo-mitsu-active';
$logo-mitsu-active-x: 354px;
$logo-mitsu-active-y: 0px;
$logo-mitsu-active-offset-x: -354px;
$logo-mitsu-active-offset-y: 0px;
$logo-mitsu-active-width: 136px;
$logo-mitsu-active-height: 147px;
$logo-mitsu-active-total-width: 546px;
$logo-mitsu-active-total-height: 497px;
$logo-mitsu-active-image: '/assets/template/css/sprites/sprite.png';
$logo-mitsu-active: (354px, 0px, -354px, 0px, 136px, 147px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'logo-mitsu-active', );
$logo-mitsu-name: 'logo-mitsu';
$logo-mitsu-x: 0px;
$logo-mitsu-y: 288px;
$logo-mitsu-offset-x: 0px;
$logo-mitsu-offset-y: -288px;
$logo-mitsu-width: 136px;
$logo-mitsu-height: 147px;
$logo-mitsu-total-width: 546px;
$logo-mitsu-total-height: 497px;
$logo-mitsu-image: '/assets/template/css/sprites/sprite.png';
$logo-mitsu: (0px, 288px, 0px, -288px, 136px, 147px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'logo-mitsu', );
$main-electro-active-name: 'main-electro-active';
$main-electro-active-x: 0px;
$main-electro-active-y: 435px;
$main-electro-active-offset-x: 0px;
$main-electro-active-offset-y: -435px;
$main-electro-active-width: 73px;
$main-electro-active-height: 62px;
$main-electro-active-total-width: 546px;
$main-electro-active-total-height: 497px;
$main-electro-active-image: '/assets/template/css/sprites/sprite.png';
$main-electro-active: (0px, 435px, 0px, -435px, 73px, 62px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-electro-active', );
$main-electro-name: 'main-electro';
$main-electro-x: 73px;
$main-electro-y: 435px;
$main-electro-offset-x: -73px;
$main-electro-offset-y: -435px;
$main-electro-width: 73px;
$main-electro-height: 62px;
$main-electro-total-width: 546px;
$main-electro-total-height: 497px;
$main-electro-image: '/assets/template/css/sprites/sprite.png';
$main-electro: (73px, 435px, -73px, -435px, 73px, 62px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-electro', );
$main-engine-active-name: 'main-engine-active';
$main-engine-active-x: 219px;
$main-engine-active-y: 366px;
$main-engine-active-offset-x: -219px;
$main-engine-active-offset-y: -366px;
$main-engine-active-width: 83px;
$main-engine-active-height: 68px;
$main-engine-active-total-width: 546px;
$main-engine-active-total-height: 497px;
$main-engine-active-image: '/assets/template/css/sprites/sprite.png';
$main-engine-active: (219px, 366px, -219px, -366px, 83px, 68px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-engine-active', );
$main-engine-name: 'main-engine';
$main-engine-x: 136px;
$main-engine-y: 366px;
$main-engine-offset-x: -136px;
$main-engine-offset-y: -366px;
$main-engine-width: 83px;
$main-engine-height: 68px;
$main-engine-total-width: 546px;
$main-engine-total-height: 497px;
$main-engine-image: '/assets/template/css/sprites/sprite.png';
$main-engine: (136px, 366px, -136px, -366px, 83px, 68px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-engine', );
$main-kuzov-active-name: 'main-kuzov-active';
$main-kuzov-active-x: 302px;
$main-kuzov-active-y: 366px;
$main-kuzov-active-offset-x: -302px;
$main-kuzov-active-offset-y: -366px;
$main-kuzov-active-width: 94px;
$main-kuzov-active-height: 54px;
$main-kuzov-active-total-width: 546px;
$main-kuzov-active-total-height: 497px;
$main-kuzov-active-image: '/assets/template/css/sprites/sprite.png';
$main-kuzov-active: (302px, 366px, -302px, -366px, 94px, 54px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-kuzov-active', );
$main-kuzov-name: 'main-kuzov';
$main-kuzov-x: 354px;
$main-kuzov-y: 225px;
$main-kuzov-offset-x: -354px;
$main-kuzov-offset-y: -225px;
$main-kuzov-width: 94px;
$main-kuzov-height: 54px;
$main-kuzov-total-width: 546px;
$main-kuzov-total-height: 497px;
$main-kuzov-image: '/assets/template/css/sprites/sprite.png';
$main-kuzov: (354px, 225px, -354px, -225px, 94px, 54px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-kuzov', );
$main-oil-active-name: 'main-oil-active';
$main-oil-active-x: 490px;
$main-oil-active-y: 172px;
$main-oil-active-offset-x: -490px;
$main-oil-active-offset-y: -172px;
$main-oil-active-width: 56px;
$main-oil-active-height: 80px;
$main-oil-active-total-width: 546px;
$main-oil-active-total-height: 497px;
$main-oil-active-image: '/assets/template/css/sprites/sprite.png';
$main-oil-active: (490px, 172px, -490px, -172px, 56px, 80px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-oil-active', );
$main-oil-name: 'main-oil';
$main-oil-x: 490px;
$main-oil-y: 252px;
$main-oil-offset-x: -490px;
$main-oil-offset-y: -252px;
$main-oil-width: 56px;
$main-oil-height: 80px;
$main-oil-total-width: 546px;
$main-oil-total-height: 497px;
$main-oil-image: '/assets/template/css/sprites/sprite.png';
$main-oil: (490px, 252px, -490px, -252px, 56px, 80px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-oil', );
$main-service-active-name: 'main-service-active';
$main-service-active-x: 490px;
$main-service-active-y: 0px;
$main-service-active-offset-x: -490px;
$main-service-active-offset-y: 0px;
$main-service-active-width: 56px;
$main-service-active-height: 86px;
$main-service-active-total-width: 546px;
$main-service-active-total-height: 497px;
$main-service-active-image: '/assets/template/css/sprites/sprite.png';
$main-service-active: (490px, 0px, -490px, 0px, 56px, 86px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-service-active', );
$main-service-name: 'main-service';
$main-service-x: 490px;
$main-service-y: 86px;
$main-service-offset-x: -490px;
$main-service-offset-y: -86px;
$main-service-width: 56px;
$main-service-height: 86px;
$main-service-total-width: 546px;
$main-service-total-height: 497px;
$main-service-image: '/assets/template/css/sprites/sprite.png';
$main-service: (490px, 86px, -490px, -86px, 56px, 86px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-service', );
$main-shassi-active-name: 'main-shassi-active';
$main-shassi-active-x: 396px;
$main-shassi-active-y: 366px;
$main-shassi-active-offset-x: -396px;
$main-shassi-active-offset-y: -366px;
$main-shassi-active-width: 88px;
$main-shassi-active-height: 33px;
$main-shassi-active-total-width: 546px;
$main-shassi-active-total-height: 497px;
$main-shassi-active-image: '/assets/template/css/sprites/sprite.png';
$main-shassi-active: (396px, 366px, -396px, -366px, 88px, 33px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-shassi-active', );
$main-shassi-name: 'main-shassi';
$main-shassi-x: 146px;
$main-shassi-y: 435px;
$main-shassi-offset-x: -146px;
$main-shassi-offset-y: -435px;
$main-shassi-width: 88px;
$main-shassi-height: 33px;
$main-shassi-total-width: 546px;
$main-shassi-total-height: 497px;
$main-shassi-image: '/assets/template/css/sprites/sprite.png';
$main-shassi: (146px, 435px, -146px, -435px, 88px, 33px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-shassi', );
$main-sto-active-name: 'main-sto-active';
$main-sto-active-x: 354px;
$main-sto-active-y: 147px;
$main-sto-active-offset-x: -354px;
$main-sto-active-offset-y: -147px;
$main-sto-active-width: 77px;
$main-sto-active-height: 78px;
$main-sto-active-total-width: 546px;
$main-sto-active-total-height: 497px;
$main-sto-active-image: '/assets/template/css/sprites/sprite.png';
$main-sto-active: (354px, 147px, -354px, -147px, 77px, 78px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-sto-active', );
$main-sto-name: 'main-sto';
$main-sto-x: 213px;
$main-sto-y: 288px;
$main-sto-offset-x: -213px;
$main-sto-offset-y: -288px;
$main-sto-width: 77px;
$main-sto-height: 78px;
$main-sto-total-width: 546px;
$main-sto-total-height: 497px;
$main-sto-image: '/assets/template/css/sprites/sprite.png';
$main-sto: (213px, 288px, -213px, -288px, 77px, 78px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-sto', );
$main-to-name: 'main-to';
$main-to-x: 136px;
$main-to-y: 288px;
$main-to-offset-x: -136px;
$main-to-offset-y: -288px;
$main-to-width: 77px;
$main-to-height: 78px;
$main-to-total-width: 546px;
$main-to-total-height: 497px;
$main-to-image: '/assets/template/css/sprites/sprite.png';
$main-to: (136px, 288px, -136px, -288px, 77px, 78px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-to', );
$main-transm-active-name: 'main-transm-active';
$main-transm-active-x: 369px;
$main-transm-active-y: 288px;
$main-transm-active-offset-x: -369px;
$main-transm-active-offset-y: -288px;
$main-transm-active-width: 79px;
$main-transm-active-height: 72px;
$main-transm-active-total-width: 546px;
$main-transm-active-total-height: 497px;
$main-transm-active-image: '/assets/template/css/sprites/sprite.png';
$main-transm-active: (369px, 288px, -369px, -288px, 79px, 72px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-transm-active', );
$main-transm-name: 'main-transm';
$main-transm-x: 290px;
$main-transm-y: 288px;
$main-transm-offset-x: -290px;
$main-transm-offset-y: -288px;
$main-transm-width: 79px;
$main-transm-height: 72px;
$main-transm-total-width: 546px;
$main-transm-total-height: 497px;
$main-transm-image: '/assets/template/css/sprites/sprite.png';
$main-transm: (290px, 288px, -290px, -288px, 79px, 72px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'main-transm', );
$mastercard-name: 'mastercard';
$mastercard-x: 490px;
$mastercard-y: 379px;
$mastercard-offset-x: -490px;
$mastercard-offset-y: -379px;
$mastercard-width: 51px;
$mastercard-height: 43px;
$mastercard-total-width: 546px;
$mastercard-total-height: 497px;
$mastercard-image: '/assets/template/css/sprites/sprite.png';
$mastercard: (490px, 379px, -490px, -379px, 51px, 43px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'mastercard', );
$phone-15-name: 'phone-15';
$phone-15-x: 326px;
$phone-15-y: 212px;
$phone-15-offset-x: -326px;
$phone-15-offset-y: -212px;
$phone-15-width: 24px;
$phone-15-height: 24px;
$phone-15-total-width: 546px;
$phone-15-total-height: 497px;
$phone-15-image: '/assets/template/css/sprites/sprite.png';
$phone-15: (326px, 212px, -326px, -212px, 24px, 24px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'phone-15', );
$product-search-name: 'product-search';
$product-search-x: 431px;
$product-search-y: 188px;
$product-search-offset-x: -431px;
$product-search-offset-y: -188px;
$product-search-width: 32px;
$product-search-height: 32px;
$product-search-total-width: 546px;
$product-search-total-height: 497px;
$product-search-image: '/assets/template/css/sprites/sprite.png';
$product-search: (431px, 188px, -431px, -188px, 32px, 32px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'product-search', );
$reviews-car-name: 'reviews__car';
$reviews-car-x: 490px;
$reviews-car-y: 332px;
$reviews-car-offset-x: -490px;
$reviews-car-offset-y: -332px;
$reviews-car-width: 54px;
$reviews-car-height: 47px;
$reviews-car-total-width: 546px;
$reviews-car-total-height: 497px;
$reviews-car-image: '/assets/template/css/sprites/sprite.png';
$reviews-car: (490px, 332px, -490px, -332px, 54px, 47px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'reviews__car', );
$sberbank-name: 'sberbank';
$sberbank-x: 463px;
$sberbank-y: 188px;
$sberbank-offset-x: -463px;
$sberbank-offset-y: -188px;
$sberbank-width: 26px;
$sberbank-height: 27px;
$sberbank-total-width: 546px;
$sberbank-total-height: 497px;
$sberbank-image: '/assets/template/css/sprites/sprite.png';
$sberbank: (463px, 188px, -463px, -188px, 26px, 27px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'sberbank', );
$social-instagram-name: 'social-instagram';
$social-instagram-x: 302px;
$social-instagram-y: 212px;
$social-instagram-offset-x: -302px;
$social-instagram-offset-y: -212px;
$social-instagram-width: 24px;
$social-instagram-height: 24px;
$social-instagram-total-width: 546px;
$social-instagram-total-height: 497px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (302px, 212px, -302px, -212px, 24px, 24px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'social-instagram', );
$social-vk-name: 'social-vk';
$social-vk-x: 448px;
$social-vk-y: 257px;
$social-vk-offset-x: -448px;
$social-vk-offset-y: -257px;
$social-vk-width: 30px;
$social-vk-height: 18px;
$social-vk-total-width: 546px;
$social-vk-total-height: 497px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (448px, 257px, -448px, -257px, 30px, 18px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'social-vk', );
$view-list-name: 'view-list';
$view-list-x: 325px;
$view-list-y: 260px;
$view-list-offset-x: -325px;
$view-list-offset-y: -260px;
$view-list-width: 25px;
$view-list-height: 20px;
$view-list-total-width: 546px;
$view-list-total-height: 497px;
$view-list-image: '/assets/template/css/sprites/sprite.png';
$view-list: (325px, 260px, -325px, -260px, 25px, 20px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'view-list', );
$view-tail-name: 'view-tail';
$view-tail-x: 470px;
$view-tail-y: 288px;
$view-tail-offset-x: -470px;
$view-tail-offset-y: -288px;
$view-tail-width: 20px;
$view-tail-height: 20px;
$view-tail-total-width: 546px;
$view-tail-total-height: 497px;
$view-tail-image: '/assets/template/css/sprites/sprite.png';
$view-tail: (470px, 288px, -470px, -288px, 20px, 20px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'view-tail', );
$visa-name: 'visa';
$visa-x: 396px;
$visa-y: 399px;
$visa-offset-x: -396px;
$visa-offset-y: -399px;
$visa-width: 55px;
$visa-height: 18px;
$visa-total-width: 546px;
$visa-total-height: 497px;
$visa-image: '/assets/template/css/sprites/sprite.png';
$visa: (396px, 399px, -396px, -399px, 55px, 18px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'visa', );
$yandex-wallet-name: 'yandex-wallet';
$yandex-wallet-x: 302px;
$yandex-wallet-y: 184px;
$yandex-wallet-offset-x: -302px;
$yandex-wallet-offset-y: -184px;
$yandex-wallet-width: 23px;
$yandex-wallet-height: 28px;
$yandex-wallet-total-width: 546px;
$yandex-wallet-total-height: 497px;
$yandex-wallet-image: '/assets/template/css/sprites/sprite.png';
$yandex-wallet: (302px, 184px, -302px, -184px, 23px, 28px, 546px, 497px, '/assets/template/css/sprites/sprite.png', 'yandex-wallet', );
$spritesheet-width: 546px;
$spritesheet-height: 497px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $contacts-address, $contacts-mail, $contacts-phone, $crumb-separator, $gear-big, $gear-middle, $gear-small, $icon-cart-red, $icon-cart, $icon-down-dark, $icon-down, $icon-gear, $icon-left, $icon-marker-white, $icon-marker, $icon-phone, $icon-right, $icon-user, $lk-setting, $logo-hino-active, $logo-hino, $logo-isuzu-active, $logo-isuzu, $logo-mitsu-active, $logo-mitsu, $main-electro-active, $main-electro, $main-engine-active, $main-engine, $main-kuzov-active, $main-kuzov, $main-oil-active, $main-oil, $main-service-active, $main-service, $main-shassi-active, $main-shassi, $main-sto-active, $main-sto, $main-to, $main-transm-active, $main-transm, $mastercard, $phone-15, $product-search, $reviews-car, $sberbank, $social-instagram, $social-vk, $view-list, $view-tail, $visa, $yandex-wallet, );
$spritesheet: (546px, 497px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
