//= include/header.html

<script>document.title="Карточка товара"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li><a href="#"><span>Доставка и оплата</span></a></li>
                        <li><a href="#"><span>Как заказать</span></a></li>
                        <li><a href="#"><span>Пункты самовывоза</span></a></li>
                        <li><a href="#"><span>Обмен и возврат</span></a></li>
                        <li><a href="#"><span>Сроки доставки</span></a></li>
                        <li><a href="#"><span>Бесплатная доставка</span></a></li>
                        <li><a href="#"><span>Контакты</span></a></li>
                    </ul>
                </div>
            </aside>

            <div class="content">

                <div class="related-product">
                    <div class="related-product__list">

                        <div class="related-product__item">
                            <div class="related-product__card">
                                <div class="related-product__label">Оригинал</div>
                                <div class="related-product__info-box">
                                    <div class="related-product__image-box">
                                        <img src="/assets/template/img/tmp/product-1.jpg">
                                    </div>
                                    <div class="related-product__info">
                                        <div class="related-product__name">
                                            Моторное масло
                                            Mobil 1 0W-20
                                        </div>
                                        <div class="related-product__property">
                                            <div class="related-property__item related-property__item--article">
                                                <div class="related-property__name">Артикул</div>
                                                <div class="related-property__value">2340902375</div>
                                            </div>
                                            <div class="related-property__item">
                                                <div class="related-property__name">Производитель</div>
                                                <div class="related-property__value"><a href="#">Mobi</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="related-availability">
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">На складе</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">40 шт</div>
                                    </div>
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">Доставка</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">День в день</div>
                                    </div>
                                </div>
                                <div class="related-product__price-box">
                                    <div class="related-product__price"> 1 700 руб.</div>
                                    <button class="related-product__btn btn">В корзину</button>
                                </div>
                            </div>
                        </div>
                        <div class="related-product__item">
                            <div class="related-product__card">
                                <div class="related-product__label">Аналог</div>
                                <div class="related-product__info-box">
                                    <div class="related-product__image-box">
                                        <img src="/assets/template/img/tmp/product-1.jpg">
                                    </div>
                                    <div class="related-product__info">
                                        <div class="related-product__name">
                                            Моторное масло
                                            Mobil 1 0W-20
                                        </div>
                                        <div class="related-product__property">
                                            <div class="related-property__item related-property__item--article">
                                                <div class="related-property__name">Артикул</div>
                                                <div class="related-property__value">2340902375</div>
                                            </div>
                                            <div class="related-property__item">
                                                <div class="related-property__name">Производитель</div>
                                                <div class="related-property__value"><a href="#">Mobi</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="related-availability">
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">На складе</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">40 шт</div>
                                    </div>
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">Доставка</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">День в день</div>
                                    </div>
                                </div>
                                <div class="related-product__price-box">
                                    <div class="related-product__price"> 1 700 руб.</div>
                                    <button class="related-product__btn btn">В корзину</button>
                                </div>
                            </div>
                        </div>
                        <div class="related-product__item">
                            <div class="related-product__card">
                                <div class="related-product__label">Популярное</div>
                                <div class="related-product__info-box">
                                    <div class="related-product__image-box">
                                        <img src="/assets/template/img/tmp/product-1.jpg">
                                    </div>
                                    <div class="related-product__info">
                                        <div class="related-product__name">
                                            Моторное масло
                                            Mobil 1 0W-20
                                        </div>
                                        <div class="related-product__property">
                                            <div class="related-property__item related-property__item--article">
                                                <div class="related-property__name">Артикул</div>
                                                <div class="related-property__value">2340902375</div>
                                            </div>
                                            <div class="related-property__item">
                                                <div class="related-property__name">Производитель</div>
                                                <div class="related-property__value"><a href="#">Mobi</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="related-availability">
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">На складе</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">40 шт</div>
                                    </div>
                                    <div class="related-availability__item">
                                        <div class="related-availability__name">Доставка</div>
                                        <div class="related-availability__line"></div>
                                        <div class="related-availability__value">День в день</div>
                                    </div>
                                </div>
                                <div class="related-product__price-box">
                                    <div class="related-product__price"> 1 700 руб.</div>
                                    <button class="related-product__btn btn">В корзину</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="product-card">
                    <div class="product-card__name">Моторное масло Mobil 1 0W-20</div>
                    <div class="product-card__body">
                        <div class="product-card__preview">
                            <div class="product-card__image-box">
                                <img src="/assets/template/img/tmp/product-card__prev.jpg" alt="">
                            </div>
                            <div class="product-property">
                                <div class="product-property__item product-property__item--article">
                                    <div class="product-property__name">Артикул</div>
                                    <div class="product-property__value">2340902375</div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Производитель</div>
                                    <div class="product-property__value"><a href="#mobi">Mobi</a></div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Состав</div>
                                    <div class="product-property__value">Синтетическое</div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Тип двигателя</div>
                                    <div class="product-property__value">Бензин/дизель</div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Тип автомобиля</div>
                                    <div class="product-property__value">Легковой</div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Объем упаковки</div>
                                    <div class="product-property__value">5 л.</div>
                                </div>
                                <div class="product-property__item">
                                    <div class="product-property__name">Вязкость</div>
                                    <div class="product-property__value">0W-20</div>
                                </div>

                            </div>
                        </div>
                        <div class="product-card__result">
                            <div class="product-card__search">Результат поиска Mobil 1</div>
                            <div class="table-result">
                                <div class="table-result__row table-result__row--header">
                                    <div class="table-result__td table-result__td--name">Наименование</div>
                                    <div class="table-result__td table-result__td--type"></div>
                                    <div class="table-result__td table-result__td--rating">Рейтинг покупателей</div>
                                    <div class="table-result__td table-result__td--availability">Наличие</div>
                                    <div class="table-result__td table-result__td--price">Цена</div>
                                    <div class="table-result__td table-result__td--buy"></div>
                                </div>
                                <div class="table-result__row">
                                    <div class="table-result__td table-result__td--name">Mobil 1 2340902375</div>
                                    <div class="table-result__td table-result__td--type">Масло моторное</div>
                                    <div class="table-result__td table-result__td--rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="table-result__td table-result__td--availability">1</div>
                                    <div class="table-result__td table-result__td--price">1 800 р.</div>
                                    <div class="table-result__td table-result__td--buy">
                                        <button class="btn btn__buy"></button>
                                    </div>
                                </div>
                            </div>

                            <div class="table-result table-result--analog">
                                <div class="table-result__row table-result__row--header">
                                    <div class="table-result__td table-result__td--name">Аналоги</div>
                                    <div class="table-result__td table-result__td--view">
                                        <label for="">
                                            <input type="checkbox">Компактный вид
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="table-result table-result--analog">
                                <div class="table-result__row">
                                    <div class="table-result__td table-result__td--name">Mobil 1 2340902375</div>
                                    <div class="table-result__td table-result__td--type">Масло моторное</div>
                                    <div class="table-result__td table-result__td--rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="table-result__td table-result__td--availability">1</div>
                                    <div class="table-result__td table-result__td--time"><a href="#">5 дн.</a></div>
                                    <div class="table-result__td table-result__td--price">1 800 р.</div>
                                    <div class="table-result__td table-result__td--buy">
                                        <button class="btn btn__buy"></button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <div class="product-info">
                    <div class="product-info__nav">
                        <ul>
                            <li><a data-tab=".tab-params" class="active" href="#">Параметры</a></li>
                            <li><a data-tab=".tab-descr" href="#">Описание</a></li>
                        </ul>
                    </div>
                    <div class="product-info__tabs">
                        <div class="product-info__tab tab tab-params active">
                            <div class="product-info__caption">Параметры</div>
                            <div class="product-params">

                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Вязкость <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">5W-30</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Наименование <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">Dexso 2</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Объем, л <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">1</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Состав <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">Синетическое</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Спецификации ACEA <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">B3|B4|C3|A3</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Спецификации API <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">CF|SM</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Спецификации OEM <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">BMW nhlgfk|dbd|415-bdb-bdbd|dbdvdg1265416 - dfhgls  ;/df|vdfkgjb|4165d-fc  ;/</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Тип контейнера <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">Канистра пластик</div>
                                </div>

                            </div>
                            <div class="product-info__caption">Общие</div>
                            <div class="product-params">

                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Длина упаковки,мм <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">225</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Толщина упаковки, мм <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">65</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Ширина упаковки, мм <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">105</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Вес, г <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">926</div>
                                </div>
                                <div class="product-params__item">
                                    <div class="product-params__name">
                                        Страна производства <span class="product-params__line"></span>
                                    </div>
                                    <div class="product-params__value">Бельгия</div>
                                </div>

                            </div>







                        </div>
                        <div class="product-info__tab tab tab-descr">


                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti dolorem ex fugiat inventore, minima modi necessitatibus, nihil non placeat praesentium provident quos, ratione reprehenderit saepe sunt tempora totam voluptate?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nisi obcaecati odit officia qui. Amet consectetur cum eligendi quod similique ut. Aut culpa maxime qui recusandae rerum saepe sapiente voluptatum.</p>
                        </div>
                    </div>
                </div>

                <div class="text-box">



                </div>



                <div class="view-product">
                    <div class="view-product__all">
                        <a href="#" class="btn-o">Показать все</a>
                    </div>
                    <div class="view-product__header">Вы просматривали</div>
                    <div class="view-product__list">
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                        //= include/view-product.html
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

//= include/footer.html