// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow-left';
$arrow-left-x: 51px;
$arrow-left-y: 0px;
$arrow-left-offset-x: -51px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 51px;
$arrow-left-height: 41px;
$arrow-left-total-width: 128px;
$arrow-left-total-height: 126px;
$arrow-left-image: '/assets/template/css/sprites/sprite.png';
$arrow-left: (51px, 0px, -51px, 0px, 51px, 41px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 0px;
$arrow-right-y: 43px;
$arrow-right-offset-x: 0px;
$arrow-right-offset-y: -43px;
$arrow-right-width: 51px;
$arrow-right-height: 41px;
$arrow-right-total-width: 128px;
$arrow-right-total-height: 126px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (0px, 43px, 0px, -43px, 51px, 41px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$crumb-separator-name: 'crumb-separator';
$crumb-separator-x: 54px;
$crumb-separator-y: 102px;
$crumb-separator-offset-x: -54px;
$crumb-separator-offset-y: -102px;
$crumb-separator-width: 8px;
$crumb-separator-height: 11px;
$crumb-separator-total-width: 128px;
$crumb-separator-total-height: 126px;
$crumb-separator-image: '/assets/template/css/sprites/sprite.png';
$crumb-separator: (54px, 102px, -54px, -102px, 8px, 11px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'crumb-separator', );
$icon-down-dark-name: 'icon-down-dark';
$icon-down-dark-x: 51px;
$icon-down-dark-y: 75px;
$icon-down-dark-offset-x: -51px;
$icon-down-dark-offset-y: -75px;
$icon-down-dark-width: 11px;
$icon-down-dark-height: 6px;
$icon-down-dark-total-width: 128px;
$icon-down-dark-total-height: 126px;
$icon-down-dark-image: '/assets/template/css/sprites/sprite.png';
$icon-down-dark: (51px, 75px, -51px, -75px, 11px, 6px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'icon-down-dark', );
$icon-down-name: 'icon-down';
$icon-down-x: 82px;
$icon-down-y: 63px;
$icon-down-offset-x: -82px;
$icon-down-offset-y: -63px;
$icon-down-width: 14px;
$icon-down-height: 8px;
$icon-down-total-width: 128px;
$icon-down-total-height: 126px;
$icon-down-image: '/assets/template/css/sprites/sprite.png';
$icon-down: (82px, 63px, -82px, -63px, 14px, 8px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'icon-down', );
$icon-gear-name: 'icon-gear';
$icon-gear-x: 51px;
$icon-gear-y: 43px;
$icon-gear-offset-x: -51px;
$icon-gear-offset-y: -43px;
$icon-gear-width: 31px;
$icon-gear-height: 32px;
$icon-gear-total-width: 128px;
$icon-gear-total-height: 126px;
$icon-gear-image: '/assets/template/css/sprites/sprite.png';
$icon-gear: (51px, 43px, -51px, -43px, 31px, 32px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'icon-gear', );
$icon-left-name: 'icon-left';
$icon-left-x: 68px;
$icon-left-y: 102px;
$icon-left-offset-x: -68px;
$icon-left-offset-y: -102px;
$icon-left-width: 6px;
$icon-left-height: 11px;
$icon-left-total-width: 128px;
$icon-left-total-height: 126px;
$icon-left-image: '/assets/template/css/sprites/sprite.png';
$icon-left: (68px, 102px, -68px, -102px, 6px, 11px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'icon-left', );
$icon-marker-white-name: 'icon-marker-white';
$icon-marker-white-x: 85px;
$icon-marker-white-y: 84px;
$icon-marker-white-offset-x: -85px;
$icon-marker-white-offset-y: -84px;
$icon-marker-white-width: 12px;
$icon-marker-white-height: 16px;
$icon-marker-white-total-width: 128px;
$icon-marker-white-total-height: 126px;
$icon-marker-white-image: '/assets/template/css/sprites/sprite.png';
$icon-marker-white: (85px, 84px, -85px, -84px, 12px, 16px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'icon-marker-white', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 42px;
$icon-marker-y: 102px;
$icon-marker-offset-x: -42px;
$icon-marker-offset-y: -102px;
$icon-marker-width: 12px;
$icon-marker-height: 16px;
$icon-marker-total-width: 128px;
$icon-marker-total-height: 126px;
$icon-marker-image: '/assets/template/css/sprites/sprite.png';
$icon-marker: (42px, 102px, -42px, -102px, 12px, 16px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'icon-marker', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 102px;
$icon-phone-y: 55px;
$icon-phone-offset-x: -102px;
$icon-phone-offset-y: -55px;
$icon-phone-width: 24px;
$icon-phone-height: 24px;
$icon-phone-total-width: 128px;
$icon-phone-total-height: 126px;
$icon-phone-image: '/assets/template/css/sprites/sprite.png';
$icon-phone: (102px, 55px, -102px, -55px, 24px, 24px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'icon-phone', );
$icon-right-name: 'icon-right';
$icon-right-x: 62px;
$icon-right-y: 102px;
$icon-right-offset-x: -62px;
$icon-right-offset-y: -102px;
$icon-right-width: 6px;
$icon-right-height: 11px;
$icon-right-total-width: 128px;
$icon-right-total-height: 126px;
$icon-right-image: '/assets/template/css/sprites/sprite.png';
$icon-right: (62px, 102px, -62px, -102px, 6px, 11px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'icon-right', );
$icon-user-name: 'icon-user';
$icon-user-x: 24px;
$icon-user-y: 102px;
$icon-user-offset-x: -24px;
$icon-user-offset-y: -102px;
$icon-user-width: 18px;
$icon-user-height: 18px;
$icon-user-total-width: 128px;
$icon-user-total-height: 126px;
$icon-user-image: '/assets/template/css/sprites/sprite.png';
$icon-user: (24px, 102px, -24px, -102px, 18px, 18px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'icon-user', );
$mastercard-name: 'mastercard';
$mastercard-x: 0px;
$mastercard-y: 0px;
$mastercard-offset-x: 0px;
$mastercard-offset-y: 0px;
$mastercard-width: 51px;
$mastercard-height: 43px;
$mastercard-total-width: 128px;
$mastercard-total-height: 126px;
$mastercard-image: '/assets/template/css/sprites/sprite.png';
$mastercard: (0px, 0px, 0px, 0px, 51px, 43px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'mastercard', );
$sberbank-name: 'sberbank';
$sberbank-x: 102px;
$sberbank-y: 0px;
$sberbank-offset-x: -102px;
$sberbank-offset-y: 0px;
$sberbank-width: 26px;
$sberbank-height: 27px;
$sberbank-total-width: 128px;
$sberbank-total-height: 126px;
$sberbank-image: '/assets/template/css/sprites/sprite.png';
$sberbank: (102px, 0px, -102px, 0px, 26px, 27px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'sberbank', );
$social-instagram-name: 'social-instagram';
$social-instagram-x: 0px;
$social-instagram-y: 102px;
$social-instagram-offset-x: 0px;
$social-instagram-offset-y: -102px;
$social-instagram-width: 24px;
$social-instagram-height: 24px;
$social-instagram-total-width: 128px;
$social-instagram-total-height: 126px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (0px, 102px, 0px, -102px, 24px, 24px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'social-instagram', );
$social-vk-name: 'social-vk';
$social-vk-x: 55px;
$social-vk-y: 84px;
$social-vk-offset-x: -55px;
$social-vk-offset-y: -84px;
$social-vk-width: 30px;
$social-vk-height: 18px;
$social-vk-total-width: 128px;
$social-vk-total-height: 126px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (55px, 84px, -55px, -84px, 30px, 18px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'social-vk', );
$view-list-name: 'view-list';
$view-list-x: 102px;
$view-list-y: 79px;
$view-list-offset-x: -102px;
$view-list-offset-y: -79px;
$view-list-width: 25px;
$view-list-height: 20px;
$view-list-total-width: 128px;
$view-list-total-height: 126px;
$view-list-image: '/assets/template/css/sprites/sprite.png';
$view-list: (102px, 79px, -102px, -79px, 25px, 20px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'view-list', );
$view-tail-name: 'view-tail';
$view-tail-x: 82px;
$view-tail-y: 43px;
$view-tail-offset-x: -82px;
$view-tail-offset-y: -43px;
$view-tail-width: 20px;
$view-tail-height: 20px;
$view-tail-total-width: 128px;
$view-tail-total-height: 126px;
$view-tail-image: '/assets/template/css/sprites/sprite.png';
$view-tail: (82px, 43px, -82px, -43px, 20px, 20px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'view-tail', );
$visa-name: 'visa';
$visa-x: 0px;
$visa-y: 84px;
$visa-offset-x: 0px;
$visa-offset-y: -84px;
$visa-width: 55px;
$visa-height: 18px;
$visa-total-width: 128px;
$visa-total-height: 126px;
$visa-image: '/assets/template/css/sprites/sprite.png';
$visa: (0px, 84px, 0px, -84px, 55px, 18px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'visa', );
$yandex-wallet-name: 'yandex-wallet';
$yandex-wallet-x: 102px;
$yandex-wallet-y: 27px;
$yandex-wallet-offset-x: -102px;
$yandex-wallet-offset-y: -27px;
$yandex-wallet-width: 23px;
$yandex-wallet-height: 28px;
$yandex-wallet-total-width: 128px;
$yandex-wallet-total-height: 126px;
$yandex-wallet-image: '/assets/template/css/sprites/sprite.png';
$yandex-wallet: (102px, 27px, -102px, -27px, 23px, 28px, 128px, 126px, '/assets/template/css/sprites/sprite.png', 'yandex-wallet', );
$spritesheet-width: 128px;
$spritesheet-height: 126px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $crumb-separator, $icon-down-dark, $icon-down, $icon-gear, $icon-left, $icon-marker-white, $icon-marker, $icon-phone, $icon-right, $icon-user, $mastercard, $sberbank, $social-instagram, $social-vk, $view-list, $view-tail, $visa, $yandex-wallet, );
$spritesheet: (128px, 126px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
