.order{
  &__list{
    height: 800px;
    width: 85%;
  }
  &__text{
    p{
      color: #55585e;
      font-size: 14px;
    }
    a{
      text-decoration: none;
      &:hover{
        color: $red;
      }
    }
  }
}