// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow-left';
$arrow-left-x: 354px;
$arrow-left-y: 194px;
$arrow-left-offset-x: -354px;
$arrow-left-offset-y: -194px;
$arrow-left-width: 51px;
$arrow-left-height: 41px;
$arrow-left-total-width: 490px;
$arrow-left-total-height: 435px;
$arrow-left-image: '/assets/template/css/sprites/sprite.png';
$arrow-left: (354px, 194px, -354px, -194px, 51px, 41px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 405px;
$arrow-right-y: 194px;
$arrow-right-offset-x: -405px;
$arrow-right-offset-y: -194px;
$arrow-right-width: 51px;
$arrow-right-height: 41px;
$arrow-right-total-width: 490px;
$arrow-right-total-height: 435px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (405px, 194px, -405px, -194px, 51px, 41px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$contacts-address-name: 'contacts-address';
$contacts-address-x: 302px;
$contacts-address-y: 216px;
$contacts-address-offset-x: -302px;
$contacts-address-offset-y: -216px;
$contacts-address-width: 18px;
$contacts-address-height: 24px;
$contacts-address-total-width: 490px;
$contacts-address-total-height: 435px;
$contacts-address-image: '/assets/template/css/sprites/sprite.png';
$contacts-address: (302px, 216px, -302px, -216px, 18px, 24px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'contacts-address', );
$contacts-mail-name: 'contacts-mail';
$contacts-mail-x: 302px;
$contacts-mail-y: 171px;
$contacts-mail-offset-x: -302px;
$contacts-mail-offset-y: -171px;
$contacts-mail-width: 24px;
$contacts-mail-height: 23px;
$contacts-mail-total-width: 490px;
$contacts-mail-total-height: 435px;
$contacts-mail-image: '/assets/template/css/sprites/sprite.png';
$contacts-mail: (302px, 171px, -302px, -171px, 24px, 23px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'contacts-mail', );
$contacts-phone-name: 'contacts-phone';
$contacts-phone-x: 380px;
$contacts-phone-y: 253px;
$contacts-phone-offset-x: -380px;
$contacts-phone-offset-y: -253px;
$contacts-phone-width: 24px;
$contacts-phone-height: 24px;
$contacts-phone-total-width: 490px;
$contacts-phone-total-height: 435px;
$contacts-phone-image: '/assets/template/css/sprites/sprite.png';
$contacts-phone: (380px, 253px, -380px, -253px, 24px, 24px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'contacts-phone', );
$crumb-separator-name: 'crumb-separator';
$crumb-separator-x: 471px;
$crumb-separator-y: 235px;
$crumb-separator-offset-x: -471px;
$crumb-separator-offset-y: -235px;
$crumb-separator-width: 8px;
$crumb-separator-height: 11px;
$crumb-separator-total-width: 490px;
$crumb-separator-total-height: 435px;
$crumb-separator-image: '/assets/template/css/sprites/sprite.png';
$crumb-separator: (471px, 235px, -471px, -235px, 8px, 11px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'crumb-separator', );
$gear-big-name: 'gear-big';
$gear-big-x: 302px;
$gear-big-y: 194px;
$gear-big-offset-x: -302px;
$gear-big-offset-y: -194px;
$gear-big-width: 22px;
$gear-big-height: 22px;
$gear-big-total-width: 490px;
$gear-big-total-height: 435px;
$gear-big-image: '/assets/template/css/sprites/sprite.png';
$gear-big: (302px, 194px, -302px, -194px, 22px, 22px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'gear-big', );
$gear-middle-name: 'gear-middle';
$gear-middle-x: 457px;
$gear-middle-y: 235px;
$gear-middle-offset-x: -457px;
$gear-middle-offset-y: -235px;
$gear-middle-width: 14px;
$gear-middle-height: 14px;
$gear-middle-total-width: 490px;
$gear-middle-total-height: 435px;
$gear-middle-image: '/assets/template/css/sprites/sprite.png';
$gear-middle: (457px, 235px, -457px, -235px, 14px, 14px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'gear-middle', );
$gear-small-name: 'gear-small';
$gear-small-x: 456px;
$gear-small-y: 226px;
$gear-small-offset-x: -456px;
$gear-small-offset-y: -226px;
$gear-small-width: 9px;
$gear-small-height: 9px;
$gear-small-total-width: 490px;
$gear-small-total-height: 435px;
$gear-small-image: '/assets/template/css/sprites/sprite.png';
$gear-small: (456px, 226px, -456px, -226px, 9px, 9px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'gear-small', );
$icon-cart-red-name: 'icon-cart-red';
$icon-cart-red-x: 302px;
$icon-cart-red-y: 240px;
$icon-cart-red-offset-x: -302px;
$icon-cart-red-offset-y: -240px;
$icon-cart-red-width: 20px;
$icon-cart-red-height: 19px;
$icon-cart-red-total-width: 490px;
$icon-cart-red-total-height: 435px;
$icon-cart-red-image: '/assets/template/css/sprites/sprite.png';
$icon-cart-red: (302px, 240px, -302px, -240px, 20px, 19px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-cart-red', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 320px;
$icon-cart-y: 216px;
$icon-cart-offset-x: -320px;
$icon-cart-offset-y: -216px;
$icon-cart-width: 20px;
$icon-cart-height: 19px;
$icon-cart-total-width: 490px;
$icon-cart-total-height: 435px;
$icon-cart-image: '/assets/template/css/sprites/sprite.png';
$icon-cart: (320px, 216px, -320px, -216px, 20px, 19px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-cart', );
$icon-down-dark-name: 'icon-down-dark';
$icon-down-dark-x: 473px;
$icon-down-dark-y: 179px;
$icon-down-dark-offset-x: -473px;
$icon-down-dark-offset-y: -179px;
$icon-down-dark-width: 11px;
$icon-down-dark-height: 6px;
$icon-down-dark-total-width: 490px;
$icon-down-dark-total-height: 435px;
$icon-down-dark-image: '/assets/template/css/sprites/sprite.png';
$icon-down-dark: (473px, 179px, -473px, -179px, 11px, 6px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-down-dark', );
$icon-down-name: 'icon-down';
$icon-down-x: 459px;
$icon-down-y: 179px;
$icon-down-offset-x: -459px;
$icon-down-offset-y: -179px;
$icon-down-width: 14px;
$icon-down-height: 8px;
$icon-down-total-width: 490px;
$icon-down-total-height: 435px;
$icon-down-image: '/assets/template/css/sprites/sprite.png';
$icon-down: (459px, 179px, -459px, -179px, 14px, 8px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-down', );
$icon-gear-name: 'icon-gear';
$icon-gear-x: 459px;
$icon-gear-y: 147px;
$icon-gear-offset-x: -459px;
$icon-gear-offset-y: -147px;
$icon-gear-width: 31px;
$icon-gear-height: 32px;
$icon-gear-total-width: 490px;
$icon-gear-total-height: 435px;
$icon-gear-image: '/assets/template/css/sprites/sprite.png';
$icon-gear: (459px, 147px, -459px, -147px, 31px, 32px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-gear', );
$icon-left-name: 'icon-left';
$icon-left-x: 479px;
$icon-left-y: 235px;
$icon-left-offset-x: -479px;
$icon-left-offset-y: -235px;
$icon-left-width: 6px;
$icon-left-height: 11px;
$icon-left-total-width: 490px;
$icon-left-total-height: 435px;
$icon-left-image: '/assets/template/css/sprites/sprite.png';
$icon-left: (479px, 235px, -479px, -235px, 6px, 11px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-left', );
$icon-marker-white-name: 'icon-marker-white';
$icon-marker-white-x: 340px;
$icon-marker-white-y: 216px;
$icon-marker-white-offset-x: -340px;
$icon-marker-white-offset-y: -216px;
$icon-marker-white-width: 12px;
$icon-marker-white-height: 16px;
$icon-marker-white-total-width: 490px;
$icon-marker-white-total-height: 435px;
$icon-marker-white-image: '/assets/template/css/sprites/sprite.png';
$icon-marker-white: (340px, 216px, -340px, -216px, 12px, 16px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-marker-white', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 476px;
$icon-marker-y: 253px;
$icon-marker-offset-x: -476px;
$icon-marker-offset-y: -253px;
$icon-marker-width: 12px;
$icon-marker-height: 16px;
$icon-marker-total-width: 490px;
$icon-marker-total-height: 435px;
$icon-marker-image: '/assets/template/css/sprites/sprite.png';
$icon-marker: (476px, 253px, -476px, -253px, 12px, 16px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-marker', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 452px;
$icon-phone-y: 253px;
$icon-phone-offset-x: -452px;
$icon-phone-offset-y: -253px;
$icon-phone-width: 24px;
$icon-phone-height: 24px;
$icon-phone-total-width: 490px;
$icon-phone-total-height: 435px;
$icon-phone-image: '/assets/template/css/sprites/sprite.png';
$icon-phone: (452px, 253px, -452px, -253px, 24px, 24px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-phone', );
$icon-right-name: 'icon-right';
$icon-right-x: 348px;
$icon-right-y: 143px;
$icon-right-offset-x: -348px;
$icon-right-offset-y: -143px;
$icon-right-width: 6px;
$icon-right-height: 11px;
$icon-right-total-width: 490px;
$icon-right-total-height: 435px;
$icon-right-image: '/assets/template/css/sprites/sprite.png';
$icon-right: (348px, 143px, -348px, -143px, 6px, 11px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-right', );
$icon-user-name: 'icon-user';
$icon-user-x: 439px;
$icon-user-y: 235px;
$icon-user-offset-x: -439px;
$icon-user-offset-y: -235px;
$icon-user-width: 18px;
$icon-user-height: 18px;
$icon-user-total-width: 490px;
$icon-user-total-height: 435px;
$icon-user-image: '/assets/template/css/sprites/sprite.png';
$icon-user: (439px, 235px, -439px, -235px, 18px, 18px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'icon-user', );
$lk-setting-name: 'lk-setting';
$lk-setting-x: 325px;
$lk-setting-y: 143px;
$lk-setting-offset-x: -325px;
$lk-setting-offset-y: -143px;
$lk-setting-width: 23px;
$lk-setting-height: 24px;
$lk-setting-total-width: 490px;
$lk-setting-total-height: 435px;
$lk-setting-image: '/assets/template/css/sprites/sprite.png';
$lk-setting: (325px, 143px, -325px, -143px, 23px, 24px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'lk-setting', );
$logo-hino-active-name: 'logo-hino-active';
$logo-hino-active-x: 0px;
$logo-hino-active-y: 143px;
$logo-hino-active-offset-x: 0px;
$logo-hino-active-offset-y: -143px;
$logo-hino-active-width: 151px;
$logo-hino-active-height: 145px;
$logo-hino-active-total-width: 490px;
$logo-hino-active-total-height: 435px;
$logo-hino-active-image: '/assets/template/css/sprites/sprite.png';
$logo-hino-active: (0px, 143px, 0px, -143px, 151px, 145px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'logo-hino-active', );
$logo-hino-name: 'logo-hino';
$logo-hino-x: 151px;
$logo-hino-y: 143px;
$logo-hino-offset-x: -151px;
$logo-hino-offset-y: -143px;
$logo-hino-width: 151px;
$logo-hino-height: 145px;
$logo-hino-total-width: 490px;
$logo-hino-total-height: 435px;
$logo-hino-image: '/assets/template/css/sprites/sprite.png';
$logo-hino: (151px, 143px, -151px, -143px, 151px, 145px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'logo-hino', );
$logo-isuzu-active-name: 'logo-isuzu-active';
$logo-isuzu-active-x: 0px;
$logo-isuzu-active-y: 0px;
$logo-isuzu-active-offset-x: 0px;
$logo-isuzu-active-offset-y: 0px;
$logo-isuzu-active-width: 177px;
$logo-isuzu-active-height: 143px;
$logo-isuzu-active-total-width: 490px;
$logo-isuzu-active-total-height: 435px;
$logo-isuzu-active-image: '/assets/template/css/sprites/sprite.png';
$logo-isuzu-active: (0px, 0px, 0px, 0px, 177px, 143px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'logo-isuzu-active', );
$logo-isuzu-name: 'logo-isuzu';
$logo-isuzu-x: 177px;
$logo-isuzu-y: 0px;
$logo-isuzu-offset-x: -177px;
$logo-isuzu-offset-y: 0px;
$logo-isuzu-width: 177px;
$logo-isuzu-height: 143px;
$logo-isuzu-total-width: 490px;
$logo-isuzu-total-height: 435px;
$logo-isuzu-image: '/assets/template/css/sprites/sprite.png';
$logo-isuzu: (177px, 0px, -177px, 0px, 177px, 143px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'logo-isuzu', );
$logo-mitsu-active-name: 'logo-mitsu-active';
$logo-mitsu-active-x: 354px;
$logo-mitsu-active-y: 0px;
$logo-mitsu-active-offset-x: -354px;
$logo-mitsu-active-offset-y: 0px;
$logo-mitsu-active-width: 136px;
$logo-mitsu-active-height: 147px;
$logo-mitsu-active-total-width: 490px;
$logo-mitsu-active-total-height: 435px;
$logo-mitsu-active-image: '/assets/template/css/sprites/sprite.png';
$logo-mitsu-active: (354px, 0px, -354px, 0px, 136px, 147px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'logo-mitsu-active', );
$logo-mitsu-name: 'logo-mitsu';
$logo-mitsu-x: 0px;
$logo-mitsu-y: 288px;
$logo-mitsu-offset-x: 0px;
$logo-mitsu-offset-y: -288px;
$logo-mitsu-width: 136px;
$logo-mitsu-height: 147px;
$logo-mitsu-total-width: 490px;
$logo-mitsu-total-height: 435px;
$logo-mitsu-image: '/assets/template/css/sprites/sprite.png';
$logo-mitsu: (0px, 288px, 0px, -288px, 136px, 147px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'logo-mitsu', );
$mastercard-name: 'mastercard';
$mastercard-x: 408px;
$mastercard-y: 147px;
$mastercard-offset-x: -408px;
$mastercard-offset-y: -147px;
$mastercard-width: 51px;
$mastercard-height: 43px;
$mastercard-total-width: 490px;
$mastercard-total-height: 435px;
$mastercard-image: '/assets/template/css/sprites/sprite.png';
$mastercard: (408px, 147px, -408px, -147px, 51px, 43px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'mastercard', );
$phone-15-name: 'phone-15';
$phone-15-x: 404px;
$phone-15-y: 253px;
$phone-15-offset-x: -404px;
$phone-15-offset-y: -253px;
$phone-15-width: 24px;
$phone-15-height: 24px;
$phone-15-total-width: 490px;
$phone-15-total-height: 435px;
$phone-15-image: '/assets/template/css/sprites/sprite.png';
$phone-15: (404px, 253px, -404px, -253px, 24px, 24px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'phone-15', );
$product-search-name: 'product-search';
$product-search-x: 456px;
$product-search-y: 194px;
$product-search-offset-x: -456px;
$product-search-offset-y: -194px;
$product-search-width: 32px;
$product-search-height: 32px;
$product-search-total-width: 490px;
$product-search-total-height: 435px;
$product-search-image: '/assets/template/css/sprites/sprite.png';
$product-search: (456px, 194px, -456px, -194px, 32px, 32px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'product-search', );
$reviews-car-name: 'reviews__car';
$reviews-car-x: 354px;
$reviews-car-y: 147px;
$reviews-car-offset-x: -354px;
$reviews-car-offset-y: -147px;
$reviews-car-width: 54px;
$reviews-car-height: 47px;
$reviews-car-total-width: 490px;
$reviews-car-total-height: 435px;
$reviews-car-image: '/assets/template/css/sprites/sprite.png';
$reviews-car: (354px, 147px, -354px, -147px, 54px, 47px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'reviews__car', );
$sberbank-name: 'sberbank';
$sberbank-x: 354px;
$sberbank-y: 253px;
$sberbank-offset-x: -354px;
$sberbank-offset-y: -253px;
$sberbank-width: 26px;
$sberbank-height: 27px;
$sberbank-total-width: 490px;
$sberbank-total-height: 435px;
$sberbank-image: '/assets/template/css/sprites/sprite.png';
$sberbank: (354px, 253px, -354px, -253px, 26px, 27px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'sberbank', );
$social-instagram-name: 'social-instagram';
$social-instagram-x: 428px;
$social-instagram-y: 253px;
$social-instagram-offset-x: -428px;
$social-instagram-offset-y: -253px;
$social-instagram-width: 24px;
$social-instagram-height: 24px;
$social-instagram-total-width: 490px;
$social-instagram-total-height: 435px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (428px, 253px, -428px, -253px, 24px, 24px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'social-instagram', );
$social-vk-name: 'social-vk';
$social-vk-x: 409px;
$social-vk-y: 235px;
$social-vk-offset-x: -409px;
$social-vk-offset-y: -235px;
$social-vk-width: 30px;
$social-vk-height: 18px;
$social-vk-total-width: 490px;
$social-vk-total-height: 435px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (409px, 235px, -409px, -235px, 30px, 18px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'social-vk', );
$view-list-name: 'view-list';
$view-list-x: 326px;
$view-list-y: 171px;
$view-list-offset-x: -326px;
$view-list-offset-y: -171px;
$view-list-width: 25px;
$view-list-height: 20px;
$view-list-total-width: 490px;
$view-list-total-height: 435px;
$view-list-image: '/assets/template/css/sprites/sprite.png';
$view-list: (326px, 171px, -326px, -171px, 25px, 20px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'view-list', );
$view-tail-name: 'view-tail';
$view-tail-x: 324px;
$view-tail-y: 194px;
$view-tail-offset-x: -324px;
$view-tail-offset-y: -194px;
$view-tail-width: 20px;
$view-tail-height: 20px;
$view-tail-total-width: 490px;
$view-tail-total-height: 435px;
$view-tail-image: '/assets/template/css/sprites/sprite.png';
$view-tail: (324px, 194px, -324px, -194px, 20px, 20px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'view-tail', );
$visa-name: 'visa';
$visa-x: 354px;
$visa-y: 235px;
$visa-offset-x: -354px;
$visa-offset-y: -235px;
$visa-width: 55px;
$visa-height: 18px;
$visa-total-width: 490px;
$visa-total-height: 435px;
$visa-image: '/assets/template/css/sprites/sprite.png';
$visa: (354px, 235px, -354px, -235px, 55px, 18px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'visa', );
$yandex-wallet-name: 'yandex-wallet';
$yandex-wallet-x: 302px;
$yandex-wallet-y: 143px;
$yandex-wallet-offset-x: -302px;
$yandex-wallet-offset-y: -143px;
$yandex-wallet-width: 23px;
$yandex-wallet-height: 28px;
$yandex-wallet-total-width: 490px;
$yandex-wallet-total-height: 435px;
$yandex-wallet-image: '/assets/template/css/sprites/sprite.png';
$yandex-wallet: (302px, 143px, -302px, -143px, 23px, 28px, 490px, 435px, '/assets/template/css/sprites/sprite.png', 'yandex-wallet', );
$spritesheet-width: 490px;
$spritesheet-height: 435px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $contacts-address, $contacts-mail, $contacts-phone, $crumb-separator, $gear-big, $gear-middle, $gear-small, $icon-cart-red, $icon-cart, $icon-down-dark, $icon-down, $icon-gear, $icon-left, $icon-marker-white, $icon-marker, $icon-phone, $icon-right, $icon-user, $lk-setting, $logo-hino-active, $logo-hino, $logo-isuzu-active, $logo-isuzu, $logo-mitsu-active, $logo-mitsu, $mastercard, $phone-15, $product-search, $reviews-car, $sberbank, $social-instagram, $social-vk, $view-list, $view-tail, $visa, $yandex-wallet, );
$spritesheet: (490px, 435px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
