// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow-left';
$arrow-left-x: 0px;
$arrow-left-y: 47px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: -47px;
$arrow-left-width: 51px;
$arrow-left-height: 41px;
$arrow-left-total-width: 154px;
$arrow-left-total-height: 150px;
$arrow-left-image: '/assets/template/css/sprites/sprite.png';
$arrow-left: (0px, 47px, 0px, -47px, 51px, 41px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'arrow-left', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 51px;
$arrow-right-y: 47px;
$arrow-right-offset-x: -51px;
$arrow-right-offset-y: -47px;
$arrow-right-width: 51px;
$arrow-right-height: 41px;
$arrow-right-total-width: 154px;
$arrow-right-total-height: 150px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (51px, 47px, -51px, -47px, 51px, 41px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$contacts-address-name: 'contacts-address';
$contacts-address-x: 136px;
$contacts-address-y: 0px;
$contacts-address-offset-x: -136px;
$contacts-address-offset-y: 0px;
$contacts-address-width: 18px;
$contacts-address-height: 24px;
$contacts-address-total-width: 154px;
$contacts-address-total-height: 150px;
$contacts-address-image: '/assets/template/css/sprites/sprite.png';
$contacts-address: (136px, 0px, -136px, 0px, 18px, 24px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'contacts-address', );
$contacts-mail-name: 'contacts-mail';
$contacts-mail-x: 72px;
$contacts-mail-y: 106px;
$contacts-mail-offset-x: -72px;
$contacts-mail-offset-y: -106px;
$contacts-mail-width: 24px;
$contacts-mail-height: 23px;
$contacts-mail-total-width: 154px;
$contacts-mail-total-height: 150px;
$contacts-mail-image: '/assets/template/css/sprites/sprite.png';
$contacts-mail: (72px, 106px, -72px, -106px, 24px, 23px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'contacts-mail', );
$contacts-phone-name: 'contacts-phone';
$contacts-phone-x: 0px;
$contacts-phone-y: 106px;
$contacts-phone-offset-x: 0px;
$contacts-phone-offset-y: -106px;
$contacts-phone-width: 24px;
$contacts-phone-height: 24px;
$contacts-phone-total-width: 154px;
$contacts-phone-total-height: 150px;
$contacts-phone-image: '/assets/template/css/sprites/sprite.png';
$contacts-phone: (0px, 106px, 0px, -106px, 24px, 24px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'contacts-phone', );
$crumb-separator-name: 'crumb-separator';
$crumb-separator-x: 136px;
$crumb-separator-y: 82px;
$crumb-separator-offset-x: -136px;
$crumb-separator-offset-y: -82px;
$crumb-separator-width: 8px;
$crumb-separator-height: 11px;
$crumb-separator-total-width: 154px;
$crumb-separator-total-height: 150px;
$crumb-separator-image: '/assets/template/css/sprites/sprite.png';
$crumb-separator: (136px, 82px, -136px, -82px, 8px, 11px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'crumb-separator', );
$icon-down-dark-name: 'icon-down-dark';
$icon-down-dark-x: 136px;
$icon-down-dark-y: 93px;
$icon-down-dark-offset-x: -136px;
$icon-down-dark-offset-y: -93px;
$icon-down-dark-width: 11px;
$icon-down-dark-height: 6px;
$icon-down-dark-total-width: 154px;
$icon-down-dark-total-height: 150px;
$icon-down-dark-image: '/assets/template/css/sprites/sprite.png';
$icon-down-dark: (136px, 93px, -136px, -93px, 11px, 6px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'icon-down-dark', );
$icon-down-name: 'icon-down';
$icon-down-x: 136px;
$icon-down-y: 74px;
$icon-down-offset-x: -136px;
$icon-down-offset-y: -74px;
$icon-down-width: 14px;
$icon-down-height: 8px;
$icon-down-total-width: 154px;
$icon-down-total-height: 150px;
$icon-down-image: '/assets/template/css/sprites/sprite.png';
$icon-down: (136px, 74px, -136px, -74px, 14px, 8px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'icon-down', );
$icon-gear-name: 'icon-gear';
$icon-gear-x: 105px;
$icon-gear-y: 0px;
$icon-gear-offset-x: -105px;
$icon-gear-offset-y: 0px;
$icon-gear-width: 31px;
$icon-gear-height: 32px;
$icon-gear-total-width: 154px;
$icon-gear-total-height: 150px;
$icon-gear-image: '/assets/template/css/sprites/sprite.png';
$icon-gear: (105px, 0px, -105px, 0px, 31px, 32px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'icon-gear', );
$icon-left-name: 'icon-left';
$icon-left-x: 148px;
$icon-left-y: 42px;
$icon-left-offset-x: -148px;
$icon-left-offset-y: -42px;
$icon-left-width: 6px;
$icon-left-height: 11px;
$icon-left-total-width: 154px;
$icon-left-total-height: 150px;
$icon-left-image: '/assets/template/css/sprites/sprite.png';
$icon-left: (148px, 42px, -148px, -42px, 6px, 11px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'icon-left', );
$icon-marker-white-name: 'icon-marker-white';
$icon-marker-white-x: 136px;
$icon-marker-white-y: 58px;
$icon-marker-white-offset-x: -136px;
$icon-marker-white-offset-y: -58px;
$icon-marker-white-width: 12px;
$icon-marker-white-height: 16px;
$icon-marker-white-total-width: 154px;
$icon-marker-white-total-height: 150px;
$icon-marker-white-image: '/assets/template/css/sprites/sprite.png';
$icon-marker-white: (136px, 58px, -136px, -58px, 12px, 16px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'icon-marker-white', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 136px;
$icon-marker-y: 42px;
$icon-marker-offset-x: -136px;
$icon-marker-offset-y: -42px;
$icon-marker-width: 12px;
$icon-marker-height: 16px;
$icon-marker-total-width: 154px;
$icon-marker-total-height: 150px;
$icon-marker-image: '/assets/template/css/sprites/sprite.png';
$icon-marker: (136px, 42px, -136px, -42px, 12px, 16px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'icon-marker', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 24px;
$icon-phone-y: 106px;
$icon-phone-offset-x: -24px;
$icon-phone-offset-y: -106px;
$icon-phone-width: 24px;
$icon-phone-height: 24px;
$icon-phone-total-width: 154px;
$icon-phone-total-height: 150px;
$icon-phone-image: '/assets/template/css/sprites/sprite.png';
$icon-phone: (24px, 106px, -24px, -106px, 24px, 24px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'icon-phone', );
$icon-right-name: 'icon-right';
$icon-right-x: 148px;
$icon-right-y: 58px;
$icon-right-offset-x: -148px;
$icon-right-offset-y: -58px;
$icon-right-width: 6px;
$icon-right-height: 11px;
$icon-right-total-width: 154px;
$icon-right-total-height: 150px;
$icon-right-image: '/assets/template/css/sprites/sprite.png';
$icon-right: (148px, 58px, -148px, -58px, 6px, 11px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'icon-right', );
$icon-user-name: 'icon-user';
$icon-user-x: 136px;
$icon-user-y: 24px;
$icon-user-offset-x: -136px;
$icon-user-offset-y: -24px;
$icon-user-width: 18px;
$icon-user-height: 18px;
$icon-user-total-width: 154px;
$icon-user-total-height: 150px;
$icon-user-image: '/assets/template/css/sprites/sprite.png';
$icon-user: (136px, 24px, -136px, -24px, 18px, 18px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'icon-user', );
$mastercard-name: 'mastercard';
$mastercard-x: 54px;
$mastercard-y: 0px;
$mastercard-offset-x: -54px;
$mastercard-offset-y: 0px;
$mastercard-width: 51px;
$mastercard-height: 43px;
$mastercard-total-width: 154px;
$mastercard-total-height: 150px;
$mastercard-image: '/assets/template/css/sprites/sprite.png';
$mastercard: (54px, 0px, -54px, 0px, 51px, 43px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'mastercard', );
$reviews-car-name: 'reviews__car';
$reviews-car-x: 0px;
$reviews-car-y: 0px;
$reviews-car-offset-x: 0px;
$reviews-car-offset-y: 0px;
$reviews-car-width: 54px;
$reviews-car-height: 47px;
$reviews-car-total-width: 154px;
$reviews-car-total-height: 150px;
$reviews-car-image: '/assets/template/css/sprites/sprite.png';
$reviews-car: (0px, 0px, 0px, 0px, 54px, 47px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'reviews__car', );
$sberbank-name: 'sberbank';
$sberbank-x: 105px;
$sberbank-y: 32px;
$sberbank-offset-x: -105px;
$sberbank-offset-y: -32px;
$sberbank-width: 26px;
$sberbank-height: 27px;
$sberbank-total-width: 154px;
$sberbank-total-height: 150px;
$sberbank-image: '/assets/template/css/sprites/sprite.png';
$sberbank: (105px, 32px, -105px, -32px, 26px, 27px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'sberbank', );
$social-instagram-name: 'social-instagram';
$social-instagram-x: 48px;
$social-instagram-y: 106px;
$social-instagram-offset-x: -48px;
$social-instagram-offset-y: -106px;
$social-instagram-width: 24px;
$social-instagram-height: 24px;
$social-instagram-total-width: 154px;
$social-instagram-total-height: 150px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (48px, 106px, -48px, -106px, 24px, 24px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'social-instagram', );
$social-vk-name: 'social-vk';
$social-vk-x: 55px;
$social-vk-y: 88px;
$social-vk-offset-x: -55px;
$social-vk-offset-y: -88px;
$social-vk-width: 30px;
$social-vk-height: 18px;
$social-vk-total-width: 154px;
$social-vk-total-height: 150px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (55px, 88px, -55px, -88px, 30px, 18px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'social-vk', );
$view-list-name: 'view-list';
$view-list-x: 96px;
$view-list-y: 106px;
$view-list-offset-x: -96px;
$view-list-offset-y: -106px;
$view-list-width: 25px;
$view-list-height: 20px;
$view-list-total-width: 154px;
$view-list-total-height: 150px;
$view-list-image: '/assets/template/css/sprites/sprite.png';
$view-list: (96px, 106px, -96px, -106px, 25px, 20px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'view-list', );
$view-tail-name: 'view-tail';
$view-tail-x: 0px;
$view-tail-y: 130px;
$view-tail-offset-x: 0px;
$view-tail-offset-y: -130px;
$view-tail-width: 20px;
$view-tail-height: 20px;
$view-tail-total-width: 154px;
$view-tail-total-height: 150px;
$view-tail-image: '/assets/template/css/sprites/sprite.png';
$view-tail: (0px, 130px, 0px, -130px, 20px, 20px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'view-tail', );
$visa-name: 'visa';
$visa-x: 0px;
$visa-y: 88px;
$visa-offset-x: 0px;
$visa-offset-y: -88px;
$visa-width: 55px;
$visa-height: 18px;
$visa-total-width: 154px;
$visa-total-height: 150px;
$visa-image: '/assets/template/css/sprites/sprite.png';
$visa: (0px, 88px, 0px, -88px, 55px, 18px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'visa', );
$yandex-wallet-name: 'yandex-wallet';
$yandex-wallet-x: 105px;
$yandex-wallet-y: 59px;
$yandex-wallet-offset-x: -105px;
$yandex-wallet-offset-y: -59px;
$yandex-wallet-width: 23px;
$yandex-wallet-height: 28px;
$yandex-wallet-total-width: 154px;
$yandex-wallet-total-height: 150px;
$yandex-wallet-image: '/assets/template/css/sprites/sprite.png';
$yandex-wallet: (105px, 59px, -105px, -59px, 23px, 28px, 154px, 150px, '/assets/template/css/sprites/sprite.png', 'yandex-wallet', );
$spritesheet-width: 154px;
$spritesheet-height: 150px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $contacts-address, $contacts-mail, $contacts-phone, $crumb-separator, $icon-down-dark, $icon-down, $icon-gear, $icon-left, $icon-marker-white, $icon-marker, $icon-phone, $icon-right, $icon-user, $mastercard, $reviews-car, $sberbank, $social-instagram, $social-vk, $view-list, $view-tail, $visa, $yandex-wallet, );
$spritesheet: (154px, 150px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
