// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$contacts-address-name: 'contacts-address';
$contacts-address-x: 0px;
$contacts-address-y: 103px;
$contacts-address-offset-x: 0px;
$contacts-address-offset-y: -103px;
$contacts-address-width: 18px;
$contacts-address-height: 24px;
$contacts-address-total-width: 131px;
$contacts-address-total-height: 127px;
$contacts-address-image: '/assets/template/css/sprites/sprite.png';
$contacts-address: (0px, 103px, 0px, -103px, 18px, 24px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'contacts-address', );
$contacts-mail-name: 'contacts-mail';
$contacts-mail-x: 48px;
$contacts-mail-y: 79px;
$contacts-mail-offset-x: -48px;
$contacts-mail-offset-y: -79px;
$contacts-mail-width: 24px;
$contacts-mail-height: 23px;
$contacts-mail-total-width: 131px;
$contacts-mail-total-height: 127px;
$contacts-mail-image: '/assets/template/css/sprites/sprite.png';
$contacts-mail: (48px, 79px, -48px, -79px, 24px, 23px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'contacts-mail', );
$contacts-phone-name: 'contacts-phone';
$contacts-phone-x: 0px;
$contacts-phone-y: 79px;
$contacts-phone-offset-x: 0px;
$contacts-phone-offset-y: -79px;
$contacts-phone-width: 24px;
$contacts-phone-height: 24px;
$contacts-phone-total-width: 131px;
$contacts-phone-total-height: 127px;
$contacts-phone-image: '/assets/template/css/sprites/sprite.png';
$contacts-phone: (0px, 79px, 0px, -79px, 24px, 24px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'contacts-phone', );
$crumb-separator-name: 'crumb-separator';
$crumb-separator-x: 102px;
$crumb-separator-y: 79px;
$crumb-separator-offset-x: -102px;
$crumb-separator-offset-y: -79px;
$crumb-separator-width: 8px;
$crumb-separator-height: 11px;
$crumb-separator-total-width: 131px;
$crumb-separator-total-height: 127px;
$crumb-separator-image: '/assets/template/css/sprites/sprite.png';
$crumb-separator: (102px, 79px, -102px, -79px, 8px, 11px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'crumb-separator', );
$icon-down-name: 'icon-down';
$icon-down-x: 31px;
$icon-down-y: 65px;
$icon-down-offset-x: -31px;
$icon-down-offset-y: -65px;
$icon-down-width: 14px;
$icon-down-height: 8px;
$icon-down-total-width: 131px;
$icon-down-total-height: 127px;
$icon-down-image: '/assets/template/css/sprites/sprite.png';
$icon-down: (31px, 65px, -31px, -65px, 14px, 8px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'icon-down', );
$icon-gear-name: 'icon-gear';
$icon-gear-x: 0px;
$icon-gear-y: 47px;
$icon-gear-offset-x: 0px;
$icon-gear-offset-y: -47px;
$icon-gear-width: 31px;
$icon-gear-height: 32px;
$icon-gear-total-width: 131px;
$icon-gear-total-height: 127px;
$icon-gear-image: '/assets/template/css/sprites/sprite.png';
$icon-gear: (0px, 47px, 0px, -47px, 31px, 32px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'icon-gear', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 24px;
$icon-phone-y: 79px;
$icon-phone-offset-x: -24px;
$icon-phone-offset-y: -79px;
$icon-phone-width: 24px;
$icon-phone-height: 24px;
$icon-phone-total-width: 131px;
$icon-phone-total-height: 127px;
$icon-phone-image: '/assets/template/css/sprites/sprite.png';
$icon-phone: (24px, 79px, -24px, -79px, 24px, 24px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'icon-phone', );
$icon-user-name: 'icon-user';
$icon-user-x: 86px;
$icon-user-y: 47px;
$icon-user-offset-x: -86px;
$icon-user-offset-y: -47px;
$icon-user-width: 18px;
$icon-user-height: 18px;
$icon-user-total-width: 131px;
$icon-user-total-height: 127px;
$icon-user-image: '/assets/template/css/sprites/sprite.png';
$icon-user: (86px, 47px, -86px, -47px, 18px, 18px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'icon-user', );
$mastercard-name: 'mastercard';
$mastercard-x: 54px;
$mastercard-y: 0px;
$mastercard-offset-x: -54px;
$mastercard-offset-y: 0px;
$mastercard-width: 51px;
$mastercard-height: 43px;
$mastercard-total-width: 131px;
$mastercard-total-height: 127px;
$mastercard-image: '/assets/template/css/sprites/sprite.png';
$mastercard: (54px, 0px, -54px, 0px, 51px, 43px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'mastercard', );
$reviews-car-name: 'reviews__car';
$reviews-car-x: 0px;
$reviews-car-y: 0px;
$reviews-car-offset-x: 0px;
$reviews-car-offset-y: 0px;
$reviews-car-width: 54px;
$reviews-car-height: 47px;
$reviews-car-total-width: 131px;
$reviews-car-total-height: 127px;
$reviews-car-image: '/assets/template/css/sprites/sprite.png';
$reviews-car: (0px, 0px, 0px, 0px, 54px, 47px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'reviews__car', );
$sberbank-name: 'sberbank';
$sberbank-x: 105px;
$sberbank-y: 0px;
$sberbank-offset-x: -105px;
$sberbank-offset-y: 0px;
$sberbank-width: 26px;
$sberbank-height: 27px;
$sberbank-total-width: 131px;
$sberbank-total-height: 127px;
$sberbank-image: '/assets/template/css/sprites/sprite.png';
$sberbank: (105px, 0px, -105px, 0px, 26px, 27px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'sberbank', );
$social-instagram-name: 'social-instagram';
$social-instagram-x: 105px;
$social-instagram-y: 55px;
$social-instagram-offset-x: -105px;
$social-instagram-offset-y: -55px;
$social-instagram-width: 24px;
$social-instagram-height: 24px;
$social-instagram-total-width: 131px;
$social-instagram-total-height: 127px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (105px, 55px, -105px, -55px, 24px, 24px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'social-instagram', );
$social-vk-name: 'social-vk';
$social-vk-x: 72px;
$social-vk-y: 79px;
$social-vk-offset-x: -72px;
$social-vk-offset-y: -79px;
$social-vk-width: 30px;
$social-vk-height: 18px;
$social-vk-total-width: 131px;
$social-vk-total-height: 127px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (72px, 79px, -72px, -79px, 30px, 18px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'social-vk', );
$visa-name: 'visa';
$visa-x: 31px;
$visa-y: 47px;
$visa-offset-x: -31px;
$visa-offset-y: -47px;
$visa-width: 55px;
$visa-height: 18px;
$visa-total-width: 131px;
$visa-total-height: 127px;
$visa-image: '/assets/template/css/sprites/sprite.png';
$visa: (31px, 47px, -31px, -47px, 55px, 18px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'visa', );
$yandex-wallet-name: 'yandex-wallet';
$yandex-wallet-x: 105px;
$yandex-wallet-y: 27px;
$yandex-wallet-offset-x: -105px;
$yandex-wallet-offset-y: -27px;
$yandex-wallet-width: 23px;
$yandex-wallet-height: 28px;
$yandex-wallet-total-width: 131px;
$yandex-wallet-total-height: 127px;
$yandex-wallet-image: '/assets/template/css/sprites/sprite.png';
$yandex-wallet: (105px, 27px, -105px, -27px, 23px, 28px, 131px, 127px, '/assets/template/css/sprites/sprite.png', 'yandex-wallet', );
$spritesheet-width: 131px;
$spritesheet-height: 127px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($contacts-address, $contacts-mail, $contacts-phone, $crumb-separator, $icon-down, $icon-gear, $icon-phone, $icon-user, $mastercard, $reviews-car, $sberbank, $social-instagram, $social-vk, $visa, $yandex-wallet, );
$spritesheet: (131px, 127px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
