//= include/header.html

<script>document.title="Каталог - главная"</script>
<script>document.body.classList.add("hino-300");</script>
<script>document.body.classList.add("catalog-main");</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li><a href="#"><span>Доставка и оплата</span></a></li>
                        <li><a href="#"><span>Как заказать</span></a></li>
                        <li><a href="#"><span>Пункты самовывоза</span></a></li>
                        <li><a href="#"><span>Обмен и возврат</span></a></li>
                        <li><a href="#"><span>Сроки доставки</span></a></li>
                        <li><a href="#"><span>Бесплатная доставка</span></a></li>
                        <li><a href="#"><span>Контакты</span></a></li>
                    </ul>
                </div>
            </aside>

            <div class="content ">

                <div class="new-product">
                    <div class="new-product__header">Новинки магазина</div>
                    <div class="new-product__list">
                        //= include/new-product.html
                        //= include/new-product.html
                        //= include/new-product.html
                        //= include/new-product.html
                        //= include/new-product.html
                        //= include/new-product.html
                    </div>
                </div>

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/">hino</a></li>
                            <li><a href="/">hino300</a></li>
                            <li class="active">Масла и жидкости</li>
                        </ul>
                    </div>
                </div>


                <div class="text-box">

                    <h1 class="header1">Масла и жидкости</h1>

               33333333

                </div>



            </div>
        </div>
    </div>
</section>

//= include/footer.html