//= include/header.html

<script>document.title="Каталог"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">
                    <ul>
                        <li><a href="#"><span>Доставка и оплата</span></a></li>
                        <li><a href="#"><span>Как заказать</span></a></li>
                        <li><a href="#"><span>Пункты самовывоза</span></a></li>
                        <li><a href="#"><span>Обмен и возврат</span></a></li>
                        <li><a href="#"><span>Сроки доставки</span></a></li>
                        <li><a href="#"><span>Бесплатная доставка</span></a></li>
                        <li><a href="#"><span>Контакты</span></a></li>
                    </ul>
                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/">hino</a></li>
                            <li><a href="/">hino300</a></li>
                            <li class="active">Масла и жидкости</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Масла и жидкости</h1>

                    <div class="product__list">

                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html
                        //= include/product-item.html

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

//= include/footer.html