//= include/header.html

<script>document.title="Личный кабинет"</script>

<section class="middle">
    <div class="container">
        <div class="f-row f-row__content">
            <aside class="sidebar">
                <div class="leftmenu">

                </div>
            </aside>
            <div class="content">

                <div class="crumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Главная</a></li>
                            <li class="active">Личный кабинет</li>
                        </ul>
                    </div>
                </div>

                <div class="text-box">

                    <h1 class="header1">Личный кабинет</h1>

                    <div class="lcabinet">
                        <div class="lcabinet-profile">
                            <div class="lcabinet-profile__image">
                                <img src="/assets/template/img/lk__foto.png" />
                            </div>
                            <div class="lcabinet-profile__info">
                                <div class="lcabinet-profile__name">
                                    Иванов Иван
                                </div>
                                <a href="#" class="lcabinet-profile__setting">
                                    Настройки
                                </a>
                            </div>
                        </div>
                        <div class="lcabinet-box">

                        </div>
                        <div class="lcabinet-forum">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

//= include/footer.html