//= include/header-main.html

<script>document.title="Главная заставка"</script>


<div class="main-center">

    <div class="main-section">
        <div class="main-brands">
            <a class="main-brands__item main-brands__item--hino active" href="#"></a>
            <a class="main-brands__item main-brands__item--mitsu" href="#"></a>
            <a class="main-brands__item main-brands__item--isuzu" href="#"></a>
        </div>
        <div class="main-models">
            <div class="main-models__list">
                <a href="#" class="main-models__item">
                    <div class="main-models__image">
                        <img src="/assets/template/img/models/hino/300-ico03.png" alt="">
                    </div>
                    <div class="main-models__caption">Hino 300</div>
                </a>
                <a href="#" class="main-models__item active">
                    <div class="main-models__image">
                        <img src="/assets/template/img/models/hino/500-ico03.png" alt="">
                    </div>
                    <div class="main-models__caption">Hino 500</div>
                </a>
                <a href="#" class="main-models__item">
                    <div class="main-models__image">
                        <img src="/assets/template/img/models/hino/700-ico03.png" alt="">
                    </div>
                    <div class="main-models__caption">Hino 700</div>
                </a>
                <div class="main-models__circle"></div>
            </div>
        </div>
    </div>



</div>


//= include/footer-main.html